.action {
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    transition-property: font-size, color, top, left;
    white-space: pre;
    text-align: center;
    width: fit-content;
    height: 10vh;
    border-radius: 3vw;
    opacity: 0.9;
    padding: 1vw;
    backdrop-filter: blur(1px);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}