.central {
    margin-top: 10vh;
    justify-self: center;
    width: 30vw;
    height: 80vh;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media (max-width: 1000px) {
    .central {
        margin-top: 15vh;
        width: 80vw;
        height: 70vh;
    }
}
