html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgb(30, 50, 80), rgb(182 126 82), rgb(114 124 138));
  height: 100%;
  width: 100%;
  margin: 0;
}

.invisible {
  position: absolute;
  z-index: 0;
  color: #f0f0f0;
  opacity: 0;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.button:hover {
  cursor: pointer;
}

.red {
  outline: 1px solid red;
}

.hidden {
  display: none;
}

.top-buffer {
  margin-top: 19vh;
}
