html {
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(rgb(30, 50, 80), rgb(182 126 82), rgb(114 124 138));
  height: 100%;
  width: 100%;
  margin: 0;
}

.config {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(2px);
  margin-top: 5%;
  color: white;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black;
}

.config input {
  float: right;
}

.control-bar {
  display: flex;
  margin-bottom: 5%;
  padding: 1vh;
  backdrop-filter: blur(2px);
}

.timer-start {
  float: left;
  font-size: 5vh;
  color: white;
  padding: 10px;
  width: fit-content;
  border: 4px solid green;
  background-color: lightgreen;
  border-radius: 5vw;
  padding: 1vw;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.pause {
  float: left;
  color: #007bff;
  margin-top: 2.5vh;
  margin-left: 10px;
  height: 4vh;
  width: 4vh;
  display: none;
}

.stop {
  float: left;
  height: 3vh;
  width: 3vh;
  margin-top: 3vh;
  margin-left: 10px;
  background-color: red;
  display: none;
}

.invisible {
  position: absolute;
  z-index: 0;
  color: #f0f0f0;
  opacity: 0;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.action {
  margin-bottom: 5vh;
  font-size: 5vh;
  font-weight: bold;
  color: #f6786e;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  transition-property: font-size, color, top, left;
  white-space: pre;
  text-align: center;
  width: fit-content;
  height: 10vh;
  border-radius: 3vw;
  opacity: 0.9;
  padding: 1vw;
  backdrop-filter: blur(1px);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;

}

.central {
  margin-top: 10vh;
  justify-self: center;
  width: 30vw;
  height: 80vh;
}

@media (max-width: 1000px) {
  .central {
    margin-top: 15vh;
    width: 80vw;
    height: 70vh;
  }
}


.breath-box {
  position: relative;
  height: 100%;
  width: 100%;
  border: 2px solid #f6786e;
}

.breath-box-inner {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  height: 100%;
  width: 100%;
  background-image: url("../img/buddha-gnome.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.circle {
  position: absolute;
  width: 2vh;
  height: 2vh;
  background-color: #f6786e;
  border-radius: 50%;
  transform-origin: center;
  bottom: -1vh;
  left: -1vh;
}

.button:hover {
  cursor: pointer;
}
